.fiddle-settings-modal-container {
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.fiddle-settings-modal-header {
  background: #402312;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 400;
  padding-left: 28px;
  min-height: 40px;
}

.fiddle-settings-modal-body {
  flex: 4 4 auto;
  padding: 5px 28px;
  overflow-y: auto;
  display: flex;
}

.fiddle-settings-modal-body > div,
.fiddle-settings-modal-body > div > div:nth-child(2) {
  flex: 1 0 0%;
  display: flex;
}

.fiddle-settings-modal-body > div {
  flex-direction: column;
}