#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#workspace {
  display: flex;
  flex: 2;
}

.sp-lookout-nav .ms-CommandBar-primaryCommands,
.sp-lookout-nav .ms-FocusZone {
  background-color: #0078d7;
}

.sp-lookout-nav .ms-CommandBarItem-commandText,
.sp-lookout-nav .ms-CommandBarItem-iconColor {
  color: white;
}

.sp-lookout-nav .ms-CommandBarItem,
.sp-lookout-nav .ms-CommandBarItem-text:hover,
.sp-lookout-nav .ms-CommandBarItem-commandText:hover {
  color: #0078d7;
}

.settings-modal-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.settings-modal-header {
  flex: 1 1 auto;
  background: #402312;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 400;
  padding-left: 28px;
  min-height: 40px;
}

.settings-modal-body {
  flex: 4 4 auto;
  padding: 5px 28px;
  overflow-y: auto;
}

.left-sidebar .pane .ms-FocusZone {
  height: 100%;
}

.aside {
  height: 100%;
  overflow-x: hidden;
}