#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#workspace {
  display: flex;
  flex: 2;
}

.sp-lookout-nav .ms-CommandBar-primaryCommands,
.sp-lookout-nav .ms-FocusZone {
  background-color: #0078d7;
}

.sp-lookout-nav .ms-CommandBarItem-commandText,
.sp-lookout-nav .ms-CommandBarItem-iconColor {
  color: white;
}

.sp-lookout-nav .ms-CommandBarItem,
.sp-lookout-nav .ms-CommandBarItem-text:hover,
.sp-lookout-nav .ms-CommandBarItem-commandText:hover {
  color: #0078d7;
}

.left-sidebar .pane .ms-FocusZone {
  height: 100%;
}

.aside {
  height: 100%;
  overflow-x: hidden;
}

.aside .ms-Nav-groupContent,
.aside .ms-Nav-groupContent ul {
  margin-bottom: 0;
}