.fiddle-results {
    padding: 5px;
}
.fiddle-results .ms-Spinner {
    margin: 30px 0;
  }

  .fiddle-settings-modal-container {
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.fiddle-settings-modal-header {
  background: #402312;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 400;
  padding-left: 28px;
  min-height: 40px;
}

.fiddle-settings-modal-body {
  flex: 4 4 auto;
  padding: 5px 28px;
  overflow-y: auto;
}